/* Footer
=====================================>
*/

#footer {
	background-color: black;
	color: $white-color;
}

.images {
	overflow: hidden;
}

.col-footer-img {
	position: relative;
	min-height: 1px;
	padding: 0px;
	width: 12.5%;
	float: left;
	margin-bottom: 60px;
}

.copyright {
	margin-bottom: 20px;
}

.square-social {
	padding-bottom: 60px;
}