/* Sidebar
=====================================>
*/

#sidebar {
	padding-right: 0;
	padding-left: 32px;
}


.block-title {
	font-family: 'Abril Fatface', serif;
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 6px 0;
	margin-bottom: 18px;
}

.sidebar-block {
	margin-bottom: 60px;
}

.c-accordion {
	font-family: serif;
	font-size: 1.1em;
	padding-left: 0;
	list-style: none;

	&__expand::before {
		@include awesome-icon("\f054")
		font-size: 10px;
		margin-right: 12px;
	}

	&__item {
		padding: 12px 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: $gray-color;

		&:last-child {
			border-bottom-style: none;
		}
	}

	&__inner {
		padding: 6px 32px;
	}
}
