.c-accordion

	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Beaty
		.c-accordion__inner
			div content
			div another line of
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Buisness
		.c-accordion__inner
			| Content
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Celebrity
		.c-accordion__inner
			| Content
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Fashion
		.c-accordion__inner
			| Content
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") General
		.c-accordion__inner
			| Content
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Magazine
		.c-accordion__inner
			| Content
	.c-accordion__item
		a.c-accordion__expand(data-toggle="accordion") Travel
		.c-accordion__inner
			| Content