#cat.accordion.panel-group
	.panel
		a(href='#id' data-toggle='accordion' data-parent='#cat') Beaty
		.panel-inner
			#id.collapse.in Content
	.panel
		a(href='#id2' data-toggle='accordion' data-parent='#cat') Beaty-2
		.panel-inner
			#id2.collapse Content
