.images.row
	.col-footer-img.hidden-md
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img
		img.full-width(src="http://placehold.it/250x250")
	.col-footer-img.hidden-md
		img.full-width(src="http://placehold.it/250x250")

.copyright.row
	.col-xs-push-2.col-xs-8.text-center
		.logo_title Dhaka
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in.

.square-social.row.text-center
	.col-xs-12
		a(href="#")
			span.squared
				i.fa.fa-facebook.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-twitter.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-instagram.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-pinterest.fa-fw