.images.row
	.col-footer-img
		img.full-width(src="img/250_1.jpg")
	.col-footer-img
		img.full-width(src="img/250_2.jpg")
	.col-footer-img
		img.full-width(src="img/250_3.jpg")
	.col-footer-img
		img.full-width(src="img/250_4.jpg")
	.col-footer-img
		img.full-width(src="img/250_5.jpg")
	.col-footer-img
		img.full-width(src="img/250_6.jpg")
	.col-footer-img
		img.full-width(src="img/250_7.jpg")
	.col-footer-img
		img.full-width(src="img/250_8.jpg")

.copyright.row
	.col-xs-push-2.col-xs-8.text-center
		.logo_title Dhaka
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in.

.square-social.row.text-center
	.col-xs-12
		a(href="#")
			span.squared
				i.fa.fa-facebook.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-twitter.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-instagram.fa-fw
		a(href="#")
			span.squared
				i.fa.fa-pinterest.fa-fw