.logo.row

	.text-center.col-xs-12.col-sm-8.col-sm-push-2
		.logo_title Dhaka
		.logo_tagline Website Template for bloggers

	.menu-icon.visible-xs-block.col-xs-2
		a(data-toggle="mobile-menu")
			i.fa.fa-reorder.fa-lg

	.search.col-xs-10.col-sm-4
		a(data-toggle="search-box")
			i.fa.fa-search.fa-lg.pull-right
		form(name="search")
			input(type="text" placeholder="Search for...")

nav.menu-container.row.lined-top.lined-bottom
	ul.menu.col-sm-12.col-md-10
		li.menu__item: a(href="#") home
		li.menu__item(data-toggle="hover-dropdown")
			a mega menu
			ul.dropdown
				li.dropdown__item: a(href="#") item1
				li.dropdown__item: a(href="#") item2
				li.dropdown__item: a(href="#") item3
		li.menu__item: a() categories
		li.menu__item: a(href="#") post styles
		li.menu__item: a(href="#") blog layouts
		li.menu__item: a(href="#") features
		li.menu__item: a(href="#") contact

	.social.col-md-2
		a(href="#")
			i.fa.fa-facebook
		a(href="#")
			i.fa.fa-twitter
		a(href="#")
			i.fa.fa-instagram
		a(href="#")
			i.fa.fa-pinterest