.logo.row

	.text-center.col-xs-12.col-sm-8.col-sm-push-2
		.logo_title Dhaka
		.logo_tagline Website Template for bloggers

	.menu-icon.col-xs-6.col-sm-2.col-sm-pull-8
		a(href="#")
			i.fa.fa-reorder.fa-lg

	.search-icon.col-xs-6.col-sm-2
		a(href="#")
			i.fa.fa-search.fa-lg.pull-right

#nav.row.lined-top.lined-bottom.hidden-xs
	ul.col-sm-12.col-md-10
		li: a(href="#") home
		li: a(href="#") mega menu
			ul.dropdown
				li: a(href="#") item1
				li: a(href="#") item2
				li: a(href="#") item3
		li: a(href="#") caregories
		li: a(href="#") post styles
		li: a(href="#") blog layouts
		li: a(href="#") features
		li: a(href="#") contact

	.col-md-2.hidden-sm.social
		a(href="#")
			i.fa.fa-facebook
		a(href="#")
			i.fa.fa-twitter
		a(href="#")
			i.fa.fa-instagram
		a(href="#")
			i.fa.fa-pinterest