$gray-color: #d5d5d5;
$dark-gray-color: #858585;
$white-color: #ffffff;

$normal: 400;
$bold: 600;

@mixin transform($value){
  -webkit-transform: ($value);
     -moz-transform: ($value);
      -ms-transform: ($value);
          transform: ($value);
}
@mixin transition($value){
  -webkit-transition: ($value);
     -moz-transition: ($value);
      -ms-transition: ($value);
          transition: ($value);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


/* Base styles
=====================================>
*/

a, a:hover, a:visited {
	color: black;
	cursor: pointer;
}
a:hover, a:visited {
	text-decoration: none;
}

@mixin awesome-icon($hex-code) {
	font-family: FontAwesome;
	content: $hex-code;
	display: inline-block;
}

@import "layout/header";
@import "layout/content";
@import "layout/carousel";
@import "layout/sidebar";
@import "layout/posts";
@import "layout/footer";
@import "theme", "helpers", "media_queries"; // Theme attributes